html {
	height: 100%;
}

body {
	background-color: #181818;
	color: white;
	margin: 0;
	margin-top: 45px;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	font-weight:normal;
	color: white;
}

h1 {
	font-family: 'Eczar', serif;
	padding-bottom: 0px;
	
}

h3 {
	padding-top: 0px;
	padding-bottom: 10px;

}

.logo {
	display: inline-block;
	height: 80px;
}

.formbox {
	display: block;
	box-sizing: border-box;
	background-color: #111c22;
	box-shadow: 46px 48px 163px -38px rgba(0,0,0,1);
	width: 75%;
	padding: 20px;
	margin: 40px;
}

.title {
	width: 40%;
	text-align: center;
}

.righta {
	width: 100%;
	text-align: right;
}

button {
	width: 175px; 
	height: 50px;
	border-radius: 3px;
	border: #284d00;
	color: white;
	background-color: #356600;
	outline:0;
	cursor: pointer;
}

button:hover {
	background-color: green;
}

input {
	display: none;
}

label {
	display: block;
	border-style: none;
    padding: 0;
	background-color: rgb(22, 22, 22);
	border: solid black 0.5px ;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	text-align: center;
	padding-top: 20px;
	margin: 10px;
	cursor: pointer;
	box-shadow: inset 6px 8px 82px -26px rgba(255,255,255,0.1);
}

input:checked + label {
    box-shadow: inset 6px 8px 82px -26px rgba(0,0,0,0.61);
    background-color: rgb(20, 20, 20);
}

.title, .formbox, button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}